<!DOCTYPE html>
<html lang="en">
{% set title="Crowd Sourcing" %}
{% include "header.html" %}
<body>
	<div class="content">
		{% set navigation=[{"href": "/", "caption": "[Logo Goes Here]"},{"href": "/#product", "caption": "Product"},{"href": "/#about", "caption": "About Us"},{"href": "/#devs", "caption": "Development Team"},{"href": "/crowd-source", "caption": "Crowd Sourcing"}] %}
		{% include "nav.html" %}
		<div class="crowd-sourcing">
			<h1>Crowd Sourcing</h1>
			<form method="POST" action="/v1/dictionary/create">
				<h3>Upload an Animation for a Word:</h3>
				<input type="text" name="word" placeholder="Word" /><br />
				<input type="file" name="file" placeholder="Animation" /><br />
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
</html>