<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
</head>
<body>
	<div class="content">
		<div class="nav">
			<ul>
				<li><a href="/">[Logo Goes Here]</a></li>
				<li><a href="#product">Product</a></li>
				<li><a href="#about">About Us</a></li>
				<li><a href="#devs">Developers</a></li>
			</ul>
		</nav>
		<div class="main-content">
			<div id="product" class="masked-copy texture-orange">
				<p>Some test text goes here to show the cool colors</p>
			</div>
			<div id="about"></div>
			<div id="devs"></div>
		</div>
	</div>
</body>
</html>