* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	text-align: center;
}

table {
	border-spacing: 0;
}

td, th {
	padding: 0.5rem 2rem;
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

tr:first-child {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.nav {
	background-color: rgba(0,0,0,0.8);
}

.nav ul {
	max-width: 42.8rem;
	padding: 0 1.57rem;
	height: 3.14rem;
	line-height: 3.14rem;
	z-index: 2;
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.nav li {
	display: inline-block;
}

.nav a:link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.nav a:hover {
	opacity: 0.65;
}

.nav a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.welcome {
	background-color: rgb(255, 255, 255);
}

.welcome div.content, .crowd-sourcing {
	max-width: 42.8rem;
	margin: 0 auto;
	font-size: 1.5em;
}

#product {
	background-color: rgb(0, 0, 0);
}

.masked-copy { 
	/* Magic: */
	-webkit-background-clip: text;
	color: transparent !important;
}

.masked-copy h2 {
	color: rgb(255, 255, 255);
	display: inline;
}

.masked-copy p {
	display: inline;
}

.texture-orange {
	/* Set the text color to a solid, in case effects don't work. */
	color: #e5895f;
	background-repeat: no-repeat;
	background-image: url('https://www.apple.com/v/iphone-xr/a/images/overview/copy_texture_4_large.jpg');
}

.analytics {
	max-width: 42.8rem;
	margin: 0 auto;
}

.analytics table {
	margin-top: 1rem;
}

.crowd-sourcing form {
	width: 70%;
	text-align: left;
}

.crowd-sourcing input {
	font-size: 1rem;
}

.crowd-sourcing input[type="text"] {
	padding: 0 .94118rem;
	line-height: 1.23543;
	border: 1px solid #d6d6d6;
	color: #333;
	box-shadow: none;
	height: 3.3rem;
	width: 100%;
	border-radius: 4px;
}

.crowd-sourcing button {
	font-size: 1rem;
	padding: .76471rem .88235rem .82353rem;
	box-sizing: border-box;
	border: 1px solid #07c;
	background-color: #0070c9;
	background: linear-gradient(#42a1ec,#0070c9);
	color: #fff;
	width: 100%;
	border-radius: 4px;
}
