[Unit]
Description=uWSGI instance to serve ubuntu
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Spring2019-Group26-Backend/src/asltutor
Environment="PATH=/home/ubuntu/Spring2019-Group26-Backend/src/asltutor/venv/bin"
ExecStart=/home/ubuntu/Spring2019-Group26-Backend/src/asltutor/venv/bin/uwsgi --ini asltutor.ini

[Install]
WantedBy=multi-user.target
