boto3==1.9.241
botocore==1.12.241
Click==7.0
dateutils==0.6.6
docutils==0.15.2
Flask==1.1.1
Flask-Login==0.4.1
flask-mongoengine==0.9.5
flask-swagger-ui==3.20.9
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
mongoengine==0.18.2
mongoengine-goodjson==1.1.6
passlib==1.7.1
pkg-resources==0.0.0
pyenchant==2.0.0
PyJWT==1.4.0
pymongo==3.9.0
python-dateutil==2.8.0
pytz==2019.2
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.6
uWSGI==2.0.18
Werkzeug==0.15.6
WTForms==2.2.1
